#!/bin/sh

export LOGURL=""
export SIG=""
export UPLOAD=""

export BUILDBOT_OSX="192.168.168.1"
export BUILDBOT_WIN="192.168.168.1.2"
export BUILDBOT_LINUX_X86="192.168.1.3"
export BUILDBOT_LINUX_ARMHF=""
export BASEDIR=/home/buildbot
