#!/bin/sh

export LOGURL="http://example.com/buildbot.php"
export SIG="password123456789"
export UPLOAD="buildbot@example.com:/var/www/buildbot"

export BUILDBOT_OSX="192.168.1.1"
export BUILDBOT_WIN="192.168.1.2"
export BUILDBOT_LINUX_X86="192.168.1.3"
export BUILDBOT_LINUX_ARMHF=""
export BASEDIR=/home/buildbot
